icf
$ Configuration of object ¸ßËÙ´Å¸¡³µÁ¾Ä£ÐÍ
with integr;
  tout    =  5.000E+0000;
  step    =  1.000E-0003;
  a_step_factor =    1;
  h       =  1.000E-0003;
  error   =  1.000E-0008;
  error_cgm   =  1.000E-0003;
  method  = park;
  crelaxation_linear=1;
  dx_linear=1E-08;
  eps_linear=1E-08;
  nitermax_linear=20;
  la_must_zero_v=true;
  la_auto_equilibrium=true;
  qr_alg4=false;
  la_break_singular_jm=true;
  psolutionmethod=cgm;
  usethreads=true;
  nthreads=4;
  keep_decomposition=false;
  keep_decomposition_count=100;
  jacobian = true;
  asmmatrix = false;
  info_disabled_frc = true;
  v_kmph=true;
with solvers;
  bdfminstep=1E-10;
  bdfmaxorder=5;
  abmminstep=1E-10;
  abmmaxorder=11;
  const_step=0.001;
  n_step_min_const=10;
  parkpredict=medium;
  error_limit=10.0;
  parkminstep=1E-12;
  parkmaxstep=0.002;
  parkminstepconst=0;
  parkmaxiter=1;
  parkminiter=1;
  parkstartdiscr=2;
  itermult=1;
  pp_stiffness_type=min;
  ppopt_sections= 0 0 0 0 0 0 0 0 0 0;
  ppfrequency=500;
  ppdampingratio=0.5;
with go_assignment;
with graphwindow; 
  caption=Plots; 
  left=-2; top=177; 
  width=409; height=206; 
  minx=-7.60799999999999E-0002; 
  maxx= 2.58000970994084E+0001; 
  miny=-1.22828549496460E+0003; 
  maxy= 6.89614407882044E+0003; 
  filtertype=0; 
  passtype=1; 
  filterorder=12; 
  lowfreq= 0.00000000000000E+0000; 
  highfreq= 1.00000000000000E+0001; 
  fixedvisibleregion=false;
  align=3; dpsize= 8.27838312829526E+0001; 
  abscissa=0;
  legendsize=8;
  axislegendonplot=true;  addlines=true;  showscales=true;
  autostepx=true;  manualstepx= 1.00000000000000E-0001;
  autostepy=true;  manualstepy= 1.00000000000000E-0001;
  autoscalex=false;  manualscalex=0;
  autoscaley=false;  manualscaley=0;
  backcolor=16777215;  fontcolor=16711680;  fontsize=7;
  gridstylesolid=false;
  ofsleft=30;
  ofstop=15;
  ofsright=15;
  ofsbottom=15;
  graphswidth=1;
  selectedwidth=2;
  markselectedvars=true;
  showordinate=false;
  hinteffprecision=8;
  hinteffdigits=4;
  usefilter=false;
  filter_min= 0.00000000000000E+0000;
  filter_max= 1.00000000000000E+0000;
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü1.Ðü¸¡Á¦LF);
      comment="Ðü¸¡¼Ü1.Ðü¸¡Á¦LF, projection Z.Ðü¸¡¼Ü1.Ðü¸¡µç´ÅÌúL, Base0 (kN)";
      elementname=Ðü¸¡¼Ü1.Ðü¸¡Á¦LF;
      subs=1; ielem=9;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü1.Ðü¸¡Á¦LR);
      comment="Ðü¸¡¼Ü1.Ðü¸¡Á¦LR, projection Z.Ðü¸¡¼Ü1.Ðü¸¡µç´ÅÌúL, Base0 (kN)";
      elementname=Ðü¸¡¼Ü1.Ðü¸¡Á¦LR;
      subs=1; ielem=10;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü1.Ðü¸¡Á¦RR);
      comment="Ðü¸¡¼Ü1.Ðü¸¡Á¦RR, projection Z.Ðü¸¡¼Ü1.Ðü¸¡µç´ÅÌúR, Base0 (kN)";
      elementname=Ðü¸¡¼Ü1.Ðü¸¡Á¦RR;
      subs=1; ielem=11;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=0000FF;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü1.Ðü¸¡Á¦RF);
      comment="Ðü¸¡¼Ü1.Ðü¸¡Á¦RF, projection Z.Ðü¸¡¼Ü1.Ðü¸¡µç´ÅÌúR, Base0 (kN)";
      elementname=Ðü¸¡¼Ü1.Ðü¸¡Á¦RF;
      subs=1; ielem=12;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=808000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü2.Ðü¸¡Á¦LF);
      comment="Ðü¸¡¼Ü2.Ðü¸¡Á¦LF, projection Z.Ðü¸¡¼Ü2.Ðü¸¡µç´ÅÌúL, Base0 (kN)";
      elementname=Ðü¸¡¼Ü2.Ðü¸¡Á¦LF;
      subs=1; ielem=25;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=000080;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü2.Ðü¸¡Á¦LR);
      comment="Ðü¸¡¼Ü2.Ðü¸¡Á¦LR, projection Z.Ðü¸¡¼Ü2.Ðü¸¡µç´ÅÌúL, Base0 (kN)";
      elementname=Ðü¸¡¼Ü2.Ðü¸¡Á¦LR;
      subs=1; ielem=26;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=800000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü2.Ðü¸¡Á¦RR);
      comment="Ðü¸¡¼Ü2.Ðü¸¡Á¦RR, projection Z.Ðü¸¡¼Ü2.Ðü¸¡µç´ÅÌúR, Base0 (kN)";
      elementname=Ðü¸¡¼Ü2.Ðü¸¡Á¦RR;
      subs=1; ielem=27;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=808080;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü2.Ðü¸¡Á¦RF);
      comment="Ðü¸¡¼Ü2.Ðü¸¡Á¦RF, projection Z.Ðü¸¡¼Ü2.Ðü¸¡µç´ÅÌúR, Base0 (kN)";
      elementname=Ðü¸¡¼Ü2.Ðü¸¡Á¦RF;
      subs=1; ielem=28;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=FF00FF;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü3.Ðü¸¡Á¦LF);
      comment="Ðü¸¡¼Ü3.Ðü¸¡Á¦LF, projection Z.Ðü¸¡¼Ü3.Ðü¸¡µç´ÅÌúL, Base0 (kN)";
      elementname=Ðü¸¡¼Ü3.Ðü¸¡Á¦LF;
      subs=1; ielem=41;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=C0C0C0;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü3.Ðü¸¡Á¦LR);
      comment="Ðü¸¡¼Ü3.Ðü¸¡Á¦LR, projection Z.Ðü¸¡¼Ü3.Ðü¸¡µç´ÅÌúL, Base0 (kN)";
      elementname=Ðü¸¡¼Ü3.Ðü¸¡Á¦LR;
      subs=1; ielem=42;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=00FF00;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü3.Ðü¸¡Á¦RR);
      comment="Ðü¸¡¼Ü3.Ðü¸¡Á¦RR, projection Z.Ðü¸¡¼Ü3.Ðü¸¡µç´ÅÌúR, Base0 (kN)";
      elementname=Ðü¸¡¼Ü3.Ðü¸¡Á¦RR;
      subs=1; ielem=43;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=008080;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü3.Ðü¸¡Á¦RF);
      comment="Ðü¸¡¼Ü3.Ðü¸¡Á¦RF, projection Z.Ðü¸¡¼Ü3.Ðü¸¡µç´ÅÌúR, Base0 (kN)";
      elementname=Ðü¸¡¼Ü3.Ðü¸¡Á¦RF;
      subs=1; ielem=44;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=00FFFF;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü4.Ðü¸¡Á¦LF);
      comment="Ðü¸¡¼Ü4.Ðü¸¡Á¦LF, projection Z.Ðü¸¡¼Ü4.Ðü¸¡µç´ÅÌúL, Base0 (kN)";
      elementname=Ðü¸¡¼Ü4.Ðü¸¡Á¦LF;
      subs=1; ielem=57;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=FFFF00;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü4.Ðü¸¡Á¦LR);
      comment="Ðü¸¡¼Ü4.Ðü¸¡Á¦LR, projection Z.Ðü¸¡¼Ü4.Ðü¸¡µç´ÅÌúL, Base0 (kN)";
      elementname=Ðü¸¡¼Ü4.Ðü¸¡Á¦LR;
      subs=1; ielem=58;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=000000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü4.Ðü¸¡Á¦RR);
      comment="Ðü¸¡¼Ü4.Ðü¸¡Á¦RR, projection Z.Ðü¸¡¼Ü4.Ðü¸¡µç´ÅÌúR, Base0 (kN)";
      elementname=Ðü¸¡¼Ü4.Ðü¸¡Á¦RR;
      subs=1; ielem=59;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü4.Ðü¸¡Á¦RF);
      comment="Ðü¸¡¼Ü4.Ðü¸¡Á¦RF, projection Z.Ðü¸¡¼Ü4.Ðü¸¡µç´ÅÌúR, Base0 (kN)";
      elementname=Ðü¸¡¼Ü4.Ðü¸¡Á¦RF;
      subs=1; ielem=60;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü5.Ðü¸¡Á¦LF);
      comment="Ðü¸¡¼Ü5.Ðü¸¡Á¦LF, projection Z.Ðü¸¡¼Ü5.Ðü¸¡µç´ÅÌúL, Base0 (kN)";
      elementname=Ðü¸¡¼Ü5.Ðü¸¡Á¦LF;
      subs=1; ielem=73;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü5.Ðü¸¡Á¦LR);
      comment="Ðü¸¡¼Ü5.Ðü¸¡Á¦LR, projection Z.Ðü¸¡¼Ü5.Ðü¸¡µç´ÅÌúL, Base0 (kN)";
      elementname=Ðü¸¡¼Ü5.Ðü¸¡Á¦LR;
      subs=1; ielem=74;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=0000FF;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü5.Ðü¸¡Á¦RR);
      comment="Ðü¸¡¼Ü5.Ðü¸¡Á¦RR, projection Z.Ðü¸¡¼Ü5.Ðü¸¡µç´ÅÌúR, Base0 (kN)";
      elementname=Ðü¸¡¼Ü5.Ðü¸¡Á¦RR;
      subs=1; ielem=75;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=808000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü5.Ðü¸¡Á¦RF);
      comment="Ðü¸¡¼Ü5.Ðü¸¡Á¦RF, projection Z.Ðü¸¡¼Ü5.Ðü¸¡µç´ÅÌúR, Base0 (kN)";
      elementname=Ðü¸¡¼Ü5.Ðü¸¡Á¦RF;
      subs=1; ielem=76;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=000080;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü6.Ðü¸¡Á¦LF);
      comment="Ðü¸¡¼Ü6.Ðü¸¡Á¦LF, projection Z.Ðü¸¡¼Ü6.Ðü¸¡µç´ÅÌúL, Base0 (kN)";
      elementname=Ðü¸¡¼Ü6.Ðü¸¡Á¦LF;
      subs=1; ielem=89;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=800000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü6.Ðü¸¡Á¦LR);
      comment="Ðü¸¡¼Ü6.Ðü¸¡Á¦LR, projection Z.Ðü¸¡¼Ü6.Ðü¸¡µç´ÅÌúL, Base0 (kN)";
      elementname=Ðü¸¡¼Ü6.Ðü¸¡Á¦LR;
      subs=1; ielem=90;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
  with grwindowvar;
    color=808080;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=Fz (Ðü¸¡¼Ü6.Ðü¸¡Á¦RR);
      comment="Ðü¸¡¼Ü6.Ðü¸¡Á¦RR, projection Z.Ðü¸¡¼Ü6.Ðü¸¡µç´ÅÌúR, Base0 (kN)";
      elementname=Ðü¸¡¼Ü6.Ðü¸¡Á¦RR;
      subs=1; ielem=91;
      type=maglev;
      actson=1; loctype=0; bdref=0; subref=1; component=z; 
with graphwindow; 
  caption=Plots; 
  left=0; top=0; 
  width=410; height=185; 
  minx=-1.49400000000000E+0000; 
  maxx= 2.46329931520062E+0001; 
  miny=-4.95769952253418E+0002; 
  maxy= 4.77930102808635E+0003; 
  filtertype=0; 
  passtype=1; 
  filterorder=12; 
  lowfreq= 0.00000000000000E+0000; 
  highfreq= 1.00000000000000E+0001; 
  fixedvisibleregion=false;
  align=3; dpsize= 6.65869947275923E+0001; 
  abscissa=0;
  legendsize=8;
  axislegendonplot=true;  addlines=true;  showscales=true;
  autostepx=true;  manualstepx= 1.00000000000000E-0001;
  autostepy=true;  manualstepy= 1.00000000000000E-0001;
  autoscalex=false;  manualscalex=0;
  autoscaley=false;  manualscaley=0;
  backcolor=16777215;  fontcolor=16711680;  fontsize=7;
  gridstylesolid=false;
  ofsleft=25;
  ofstop=15;
  ofsright=15;
  ofsbottom=15;
  graphswidth=1;
  selectedwidth=2;
  markselectedvars=true;
  showordinate=false;
  hinteffprecision=8;
  hinteffdigits=4;
  usefilter=false;
  filter_min= 0.00000000000000E+0000;
  filter_max= 1.00000000000000E+0000;
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü1.Ðü¸¡Á¦LF);
      comment="Special force Ðü¸¡¼Ü1.Ðü¸¡Á¦LF, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü1.Ðü¸¡Á¦LF;
      subs=1; ielem=9;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü1.Ðü¸¡Á¦LR);
      comment="Special force Ðü¸¡¼Ü1.Ðü¸¡Á¦LR, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü1.Ðü¸¡Á¦LR;
      subs=1; ielem=10;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü1.Ðü¸¡Á¦RR);
      comment="Special force Ðü¸¡¼Ü1.Ðü¸¡Á¦RR, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü1.Ðü¸¡Á¦RR;
      subs=1; ielem=11;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=0000FF;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü1.Ðü¸¡Á¦RF);
      comment="Special force Ðü¸¡¼Ü1.Ðü¸¡Á¦RF, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü1.Ðü¸¡Á¦RF;
      subs=1; ielem=12;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=808000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü2.Ðü¸¡Á¦LF);
      comment="Special force Ðü¸¡¼Ü2.Ðü¸¡Á¦LF, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü2.Ðü¸¡Á¦LF;
      subs=1; ielem=25;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=000080;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü2.Ðü¸¡Á¦LR);
      comment="Special force Ðü¸¡¼Ü2.Ðü¸¡Á¦LR, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü2.Ðü¸¡Á¦LR;
      subs=1; ielem=26;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=800000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü2.Ðü¸¡Á¦RR);
      comment="Special force Ðü¸¡¼Ü2.Ðü¸¡Á¦RR, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü2.Ðü¸¡Á¦RR;
      subs=1; ielem=27;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=808080;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü2.Ðü¸¡Á¦RF);
      comment="Special force Ðü¸¡¼Ü2.Ðü¸¡Á¦RF, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü2.Ðü¸¡Á¦RF;
      subs=1; ielem=28;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=FF00FF;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü3.Ðü¸¡Á¦LF);
      comment="Special force Ðü¸¡¼Ü3.Ðü¸¡Á¦LF, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü3.Ðü¸¡Á¦LF;
      subs=1; ielem=41;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=C0C0C0;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü3.Ðü¸¡Á¦LR);
      comment="Special force Ðü¸¡¼Ü3.Ðü¸¡Á¦LR, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü3.Ðü¸¡Á¦LR;
      subs=1; ielem=42;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=00FF00;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü3.Ðü¸¡Á¦RR);
      comment="Special force Ðü¸¡¼Ü3.Ðü¸¡Á¦RR, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü3.Ðü¸¡Á¦RR;
      subs=1; ielem=43;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=008080;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü3.Ðü¸¡Á¦RF);
      comment="Special force Ðü¸¡¼Ü3.Ðü¸¡Á¦RF, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü3.Ðü¸¡Á¦RF;
      subs=1; ielem=44;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=00FFFF;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü4.Ðü¸¡Á¦LF);
      comment="Special force Ðü¸¡¼Ü4.Ðü¸¡Á¦LF, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü4.Ðü¸¡Á¦LF;
      subs=1; ielem=57;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=FFFF00;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü4.Ðü¸¡Á¦LR);
      comment="Special force Ðü¸¡¼Ü4.Ðü¸¡Á¦LR, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü4.Ðü¸¡Á¦LR;
      subs=1; ielem=58;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=000000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü4.Ðü¸¡Á¦RR);
      comment="Special force Ðü¸¡¼Ü4.Ðü¸¡Á¦RR, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü4.Ðü¸¡Á¦RR;
      subs=1; ielem=59;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü4.Ðü¸¡Á¦RF);
      comment="Special force Ðü¸¡¼Ü4.Ðü¸¡Á¦RF, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü4.Ðü¸¡Á¦RF;
      subs=1; ielem=60;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü5.Ðü¸¡Á¦LF);
      comment="Special force Ðü¸¡¼Ü5.Ðü¸¡Á¦LF, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü5.Ðü¸¡Á¦LF;
      subs=1; ielem=73;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü5.Ðü¸¡Á¦LR);
      comment="Special force Ðü¸¡¼Ü5.Ðü¸¡Á¦LR, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü5.Ðü¸¡Á¦LR;
      subs=1; ielem=74;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=0000FF;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü5.Ðü¸¡Á¦RR);
      comment="Special force Ðü¸¡¼Ü5.Ðü¸¡Á¦RR, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü5.Ðü¸¡Á¦RR;
      subs=1; ielem=75;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=808000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü5.Ðü¸¡Á¦RF);
      comment="Special force Ðü¸¡¼Ü5.Ðü¸¡Á¦RF, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü5.Ðü¸¡Á¦RF;
      subs=1; ielem=76;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=000080;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü6.Ðü¸¡Á¦LF);
      comment="Special force Ðü¸¡¼Ü6.Ðü¸¡Á¦LF, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü6.Ðü¸¡Á¦LF;
      subs=1; ielem=89;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=800000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü6.Ðü¸¡Á¦LR);
      comment="Special force Ðü¸¡¼Ü6.Ðü¸¡Á¦LR, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü6.Ðü¸¡Á¦LR;
      subs=1; ielem=90;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=808080;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü6.Ðü¸¡Á¦RR);
      comment="Special force Ðü¸¡¼Ü6.Ðü¸¡Á¦RR, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü6.Ðü¸¡Á¦RR;
      subs=1; ielem=91;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=FF00FF;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:sensor (Ðü¸¡¼Ü6.Ðü¸¡Á¦RF);
      comment="Special force Ðü¸¡¼Ü6.Ðü¸¡Á¦RF, acceleration (sensor)";
      elementname=Ðü¸¡¼Ü6.Ðü¸¡Á¦RF;
      subs=1; ielem=92;
      type=maglev;
      actson=1; loctype=6; bdref=0; subref=1; component=x; 
with graphwindow; 
  caption=Plots; 
  left=-1; top=359; 
  width=447; height=249; 
  minx=-2.47213212672000E+0000; 
  maxx= 2.64985296756205E+0001; 
  miny=-7.12517882880000E+0001; 
  maxy= 2.77281571349726E+0002; 
  filtertype=0; 
  passtype=1; 
  filterorder=12; 
  lowfreq= 0.00000000000000E+0000; 
  highfreq= 1.00000000000000E+0001; 
  fixedvisibleregion=false;
  align=3; dpsize= 8.27838312829526E+0001; 
  abscissa=0;
  legendsize=8;
  axislegendonplot=true;  addlines=true;  showscales=true;
  autostepx=true;  manualstepx= 1.00000000000000E-0001;
  autostepy=true;  manualstepy= 1.00000000000000E-0001;
  autoscalex=false;  manualscalex=0;
  autoscaley=false;  manualscaley=0;
  backcolor=16777215;  fontcolor=16711680;  fontsize=7;
  gridstylesolid=false;
  ofsleft=30;
  ofstop=9;
  ofsright=15;
  ofsbottom=19;
  graphswidth=1;
  selectedwidth=2;
  markselectedvars=true;
  showordinate=false;
  hinteffprecision=8;
  hinteffdigits=4;
  usefilter=false;
  filter_min= 0.00000000000000E+0000;
  filter_max= 1.00000000000000E+0000;
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü1.Ðü¸¡Á¦LF);
      comment="Special force Ðü¸¡¼Ü1.Ðü¸¡Á¦LF, gap (mm)";
      elementname=Ðü¸¡¼Ü1.Ðü¸¡Á¦LF;
      subs=1; ielem=9;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü1.Ðü¸¡Á¦LR);
      comment="Special force Ðü¸¡¼Ü1.Ðü¸¡Á¦LR, gap (mm)";
      elementname=Ðü¸¡¼Ü1.Ðü¸¡Á¦LR;
      subs=1; ielem=10;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü1.Ðü¸¡Á¦RR);
      comment="Special force Ðü¸¡¼Ü1.Ðü¸¡Á¦RR, gap (mm)";
      elementname=Ðü¸¡¼Ü1.Ðü¸¡Á¦RR;
      subs=1; ielem=11;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=0000FF;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü1.Ðü¸¡Á¦RF);
      comment="Special force Ðü¸¡¼Ü1.Ðü¸¡Á¦RF, gap (mm)";
      elementname=Ðü¸¡¼Ü1.Ðü¸¡Á¦RF;
      subs=1; ielem=12;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=808000;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü2.Ðü¸¡Á¦LF);
      comment="Special force Ðü¸¡¼Ü2.Ðü¸¡Á¦LF, gap (mm)";
      elementname=Ðü¸¡¼Ü2.Ðü¸¡Á¦LF;
      subs=1; ielem=25;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=000080;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü2.Ðü¸¡Á¦LR);
      comment="Special force Ðü¸¡¼Ü2.Ðü¸¡Á¦LR, gap (mm)";
      elementname=Ðü¸¡¼Ü2.Ðü¸¡Á¦LR;
      subs=1; ielem=26;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=800000;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü2.Ðü¸¡Á¦RR);
      comment="Special force Ðü¸¡¼Ü2.Ðü¸¡Á¦RR, gap (mm)";
      elementname=Ðü¸¡¼Ü2.Ðü¸¡Á¦RR;
      subs=1; ielem=27;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=808080;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü2.Ðü¸¡Á¦RF);
      comment="Special force Ðü¸¡¼Ü2.Ðü¸¡Á¦RF, gap (mm)";
      elementname=Ðü¸¡¼Ü2.Ðü¸¡Á¦RF;
      subs=1; ielem=28;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=FF00FF;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü3.Ðü¸¡Á¦LF);
      comment="Special force Ðü¸¡¼Ü3.Ðü¸¡Á¦LF, gap (mm)";
      elementname=Ðü¸¡¼Ü3.Ðü¸¡Á¦LF;
      subs=1; ielem=41;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=C0C0C0;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü3.Ðü¸¡Á¦LR);
      comment="Special force Ðü¸¡¼Ü3.Ðü¸¡Á¦LR, gap (mm)";
      elementname=Ðü¸¡¼Ü3.Ðü¸¡Á¦LR;
      subs=1; ielem=42;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=00FF00;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü3.Ðü¸¡Á¦RR);
      comment="Special force Ðü¸¡¼Ü3.Ðü¸¡Á¦RR, gap (mm)";
      elementname=Ðü¸¡¼Ü3.Ðü¸¡Á¦RR;
      subs=1; ielem=43;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=008080;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü3.Ðü¸¡Á¦RF);
      comment="Special force Ðü¸¡¼Ü3.Ðü¸¡Á¦RF, gap (mm)";
      elementname=Ðü¸¡¼Ü3.Ðü¸¡Á¦RF;
      subs=1; ielem=44;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=00FFFF;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü4.Ðü¸¡Á¦LF);
      comment="Special force Ðü¸¡¼Ü4.Ðü¸¡Á¦LF, gap (mm)";
      elementname=Ðü¸¡¼Ü4.Ðü¸¡Á¦LF;
      subs=1; ielem=57;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=FFFF00;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü4.Ðü¸¡Á¦LR);
      comment="Special force Ðü¸¡¼Ü4.Ðü¸¡Á¦LR, gap (mm)";
      elementname=Ðü¸¡¼Ü4.Ðü¸¡Á¦LR;
      subs=1; ielem=58;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=000000;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü4.Ðü¸¡Á¦RR);
      comment="Special force Ðü¸¡¼Ü4.Ðü¸¡Á¦RR, gap (mm)";
      elementname=Ðü¸¡¼Ü4.Ðü¸¡Á¦RR;
      subs=1; ielem=59;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü4.Ðü¸¡Á¦RF);
      comment="Special force Ðü¸¡¼Ü4.Ðü¸¡Á¦RF, gap (mm)";
      elementname=Ðü¸¡¼Ü4.Ðü¸¡Á¦RF;
      subs=1; ielem=60;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=800080;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü5.Ðü¸¡Á¦LF);
      comment="Special force Ðü¸¡¼Ü5.Ðü¸¡Á¦LF, gap (mm)";
      elementname=Ðü¸¡¼Ü5.Ðü¸¡Á¦LF;
      subs=1; ielem=73;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=FF0000;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü5.Ðü¸¡Á¦LR);
      comment="Special force Ðü¸¡¼Ü5.Ðü¸¡Á¦LR, gap (mm)";
      elementname=Ðü¸¡¼Ü5.Ðü¸¡Á¦LR;
      subs=1; ielem=74;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=0000FF;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü5.Ðü¸¡Á¦RR);
      comment="Special force Ðü¸¡¼Ü5.Ðü¸¡Á¦RR, gap (mm)";
      elementname=Ðü¸¡¼Ü5.Ðü¸¡Á¦RR;
      subs=1; ielem=75;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=808000;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü5.Ðü¸¡Á¦RF);
      comment="Special force Ðü¸¡¼Ü5.Ðü¸¡Á¦RF, gap (mm)";
      elementname=Ðü¸¡¼Ü5.Ðü¸¡Á¦RF;
      subs=1; ielem=76;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=000080;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü6.Ðü¸¡Á¦LF);
      comment="Special force Ðü¸¡¼Ü6.Ðü¸¡Á¦LF, gap (mm)";
      elementname=Ðü¸¡¼Ü6.Ðü¸¡Á¦LF;
      subs=1; ielem=89;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=800000;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü6.Ðü¸¡Á¦LR);
      comment="Special force Ðü¸¡¼Ü6.Ðü¸¡Á¦LR, gap (mm)";
      elementname=Ðü¸¡¼Ü6.Ðü¸¡Á¦LR;
      subs=1; ielem=90;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=808080;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü6.Ðü¸¡Á¦RR);
      comment="Special force Ðü¸¡¼Ü6.Ðü¸¡Á¦RR, gap (mm)";
      elementname=Ðü¸¡¼Ü6.Ðü¸¡Á¦RR;
      subs=1; ielem=91;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
  with grwindowvar;
    color=FF00FF;
    marker=0;
    markedline=0;
    visible=0;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=S (Ðü¸¡¼Ü6.Ðü¸¡Á¦RF);
      comment="Special force Ðü¸¡¼Ü6.Ðü¸¡Á¦RF, gap (mm)";
      elementname=Ðü¸¡¼Ü6.Ðü¸¡Á¦RF;
      subs=1; ielem=92;
      type=maglev;
      actson=1; loctype=2; bdref=0; subref=1; component=x; 
with graphwindow; 
  caption=Plots; 
  left=489; top=10; 
  width=409; height=206; 
  minx= 1.83394491200865E+0001; 
  maxx= 2.12277052433660E+0001; 
  miny=-1.22403805237296E-0002; 
  maxy= 2.27758722691345E-0002; 
  filtertype=0; 
  passtype=1; 
  filterorder=12; 
  lowfreq= 0.00000000000000E+0000; 
  highfreq= 1.00000000000000E+0001; 
  fixedvisibleregion=false;
  align=3; dpsize= 8.27838312829526E+0001; 
  abscissa=0;
  legendsize=8;
  axislegendonplot=true;  addlines=true;  showscales=true;
  autostepx=true;  manualstepx= 1.00000000000000E-0001;
  autostepy=true;  manualstepy= 1.00000000000000E-0001;
  autoscalex=false;  manualscalex=0;
  autoscaley=false;  manualscaley=0;
  backcolor=16777215;  fontcolor=16711680;  fontsize=7;
  gridstylesolid=false;
  ofsleft=30;
  ofstop=15;
  ofsright=15;
  ofsbottom=15;
  graphswidth=1;
  selectedwidth=2;
  markselectedvars=true;
  showordinate=false;
  hinteffprecision=8;
  hinteffdigits=4;
  usefilter=false;
  filter_min= 0.00000000000000E+0000;
  filter_max= 1.00000000000000E+0000;
  with grwindowvar;
    color=008000;
    marker=0;
    markedline=0;
    visible=1;
    histogrammode=0;
    plotcurrentvalue=true;
    with grvar;
      name=a:z(³µÌå);
      comment="Acceleration of point (-10.7,0,1.5) of body ³µÌå relative to Base0, SC Base0, projection Z";
      elementname=³µÌå;
      subs=1; ielem=1;
      type=rellin;
      loctype=r_a; 
      bd2=0; isubs2=1; bdref=0; subref=1; component=z; 
      x=-1.07000000000000E+0001;       z= 1.50000000000000E+0000; 
with AnimSettings;
  with camera;
    name="Camera 1";
    cameraposx=-647.315002441406;
    cameraposy=-12.6810245513916;
    cameraposz=2.54823279380798;
    camerarotx=-0.0266351029276848;
    cameraroty=0.0508258938789368;
    camerarotz=0.463406533002853;
    camerarotw=0.884285986423492;
    attachedtoobject=³µÌå;
    allowchangecamerapositionbymouse=false;
    fixviewincs0=false;
    fixcameraxincs0=false;
    fixcamerayincs0=false;
    fixcamerazincs0=false;
    attachedcameradata=0,0,0,1,0,0,0,-31.8081817626953,-12.6785097122192,2.74250221252441,0.885745406150818,1.66076630225831E-9,8.70317984347224E-10,0.464171350002289,0,0,0,0.998352348804474,0,0.0573820993304253,-1.07591019427034E-10;



with forces;
  unstiff=Ðü¸¡¼Ü1.Ðü¸¡Á¦LF;
  unstiff=Ðü¸¡¼Ü1.Ðü¸¡Á¦LR;
  unstiff=Ðü¸¡¼Ü1.Ðü¸¡Á¦RR;
  unstiff=Ðü¸¡¼Ü1.Ðü¸¡Á¦RF;
  unstiff=Ðü¸¡¼Ü1.µ¼ÏòÁ¦LF;
  unstiff=Ðü¸¡¼Ü1.µ¼ÏòÁ¦LR;
  unstiff=Ðü¸¡¼Ü1.µ¼ÏòÁ¦RR;
  unstiff=Ðü¸¡¼Ü1.µ¼ÏòÁ¦RF;
  unstiff=Ðü¸¡¼Ü2.Ðü¸¡Á¦LF;
  unstiff=Ðü¸¡¼Ü2.Ðü¸¡Á¦LR;
  unstiff=Ðü¸¡¼Ü2.Ðü¸¡Á¦RR;
  unstiff=Ðü¸¡¼Ü2.Ðü¸¡Á¦RF;
  unstiff=Ðü¸¡¼Ü2.µ¼ÏòÁ¦LF;
  unstiff=Ðü¸¡¼Ü2.µ¼ÏòÁ¦LR;
  unstiff=Ðü¸¡¼Ü2.µ¼ÏòÁ¦RR;
  unstiff=Ðü¸¡¼Ü2.µ¼ÏòÁ¦RF;
  unstiff=Ðü¸¡¼Ü3.Ðü¸¡Á¦LF;
  unstiff=Ðü¸¡¼Ü3.Ðü¸¡Á¦LR;
  unstiff=Ðü¸¡¼Ü3.Ðü¸¡Á¦RR;
  unstiff=Ðü¸¡¼Ü3.Ðü¸¡Á¦RF;
  unstiff=Ðü¸¡¼Ü3.µ¼ÏòÁ¦LF;
  unstiff=Ðü¸¡¼Ü3.µ¼ÏòÁ¦LR;
  unstiff=Ðü¸¡¼Ü3.µ¼ÏòÁ¦RR;
  unstiff=Ðü¸¡¼Ü3.µ¼ÏòÁ¦RF;
  unstiff=Ðü¸¡¼Ü4.Ðü¸¡Á¦LF;
  unstiff=Ðü¸¡¼Ü4.Ðü¸¡Á¦LR;
  unstiff=Ðü¸¡¼Ü4.Ðü¸¡Á¦RR;
  unstiff=Ðü¸¡¼Ü4.Ðü¸¡Á¦RF;
  unstiff=Ðü¸¡¼Ü4.µ¼ÏòÁ¦LF;
  unstiff=Ðü¸¡¼Ü4.µ¼ÏòÁ¦LR;
  unstiff=Ðü¸¡¼Ü4.µ¼ÏòÁ¦RR;
  unstiff=Ðü¸¡¼Ü4.µ¼ÏòÁ¦RF;
  unstiff=Ðü¸¡¼Ü5.Ðü¸¡Á¦LF;
  unstiff=Ðü¸¡¼Ü5.Ðü¸¡Á¦LR;
  unstiff=Ðü¸¡¼Ü5.Ðü¸¡Á¦RR;
  unstiff=Ðü¸¡¼Ü5.Ðü¸¡Á¦RF;
  unstiff=Ðü¸¡¼Ü5.µ¼ÏòÁ¦LF;
  unstiff=Ðü¸¡¼Ü5.µ¼ÏòÁ¦LR;
  unstiff=Ðü¸¡¼Ü5.µ¼ÏòÁ¦RR;
  unstiff=Ðü¸¡¼Ü5.µ¼ÏòÁ¦RF;
  unstiff=Ðü¸¡¼Ü6.Ðü¸¡Á¦LF;
  unstiff=Ðü¸¡¼Ü6.Ðü¸¡Á¦LR;
  unstiff=Ðü¸¡¼Ü6.Ðü¸¡Á¦RR;
  unstiff=Ðü¸¡¼Ü6.Ðü¸¡Á¦RF;
  unstiff=Ðü¸¡¼Ü6.µ¼ÏòÁ¦LF;
  unstiff=Ðü¸¡¼Ü6.µ¼ÏòÁ¦LR;
  unstiff=Ðü¸¡¼Ü6.µ¼ÏòÁ¦RR;
  unstiff=Ðü¸¡¼Ü6.µ¼ÏòÁ¦RF;

with end;
