icf
$ Configuration of object model
with integr;
  tout    =  6.000E+0001;
  lastparfile    = "";
  step    =  5.000E-0003;
  a_step_factor =    1;
  h       =  1.000E-0003;
  error   =  1.000E-0007;
  error_cgm   =  1.000E-0003;
  method  = park;
  inverse = true;
  crelaxation_linear=1;
  dx_linear=1E-08;
  eps_linear=1E-08;
  nitermax_linear=20;
  la_must_zero_v=true;
  la_auto_equilibrium=true;
  qr_alg4=false;
  la_break_singular_jm=true;
  psolutionmethod=cgm;
  usethreads=true;
  nthreads=4;
  keep_decomposition=false;
  keep_decomposition_count=100;
  jacobian = true;
  block_jacobian = true;
  asmmatrix = false;
  info_disabled_frc = true;
  v_kmph=false;
with solvers;
  bdfminstep=1E-10;
  bdfmaxorder=5;
  abmminstep=1E-10;
  abmmaxorder=11;
  const_step=0.001;
  n_step_min_const=10;
  parkpredict=medium;
  error_limit=10.0;
  parkminstep=1E-12;
  parkmaxstep=0.002;
  parkminstepconst=0;
  parkmaxiter=1;
  parkminiter=1;
  parkstartdiscr=2;
  itermult=1;
  pp_stiffness_type=min;
  ppopt_sections= 0 0 0 0 0 0 0 0 0 0;
  ppfrequency=500;
  ppdampingratio=0.5;
with go_assignment;
with forces;
  unstiff=悬浮架1.悬浮力LF;
  unstiff=悬浮架1.悬浮力LR;
  unstiff=悬浮架1.悬浮力RR;
  unstiff=悬浮架1.悬浮力PF;
  unstiff=悬浮架1.导向力LF;
  unstiff=悬浮架1.导向力LR;
  unstiff=悬浮架1.导向力RR;
  unstiff=悬浮架1.导向力RF;
  unstiff=悬浮架2.悬浮力LF;
  unstiff=悬浮架2.悬浮力LR;
  unstiff=悬浮架2.悬浮力RR;
  unstiff=悬浮架2.悬浮力PF;
  unstiff=悬浮架2.导向力LF;
  unstiff=悬浮架2.导向力LR;
  unstiff=悬浮架2.导向力RR;
  unstiff=悬浮架2.导向力RF;
  unstiff=悬浮架3.悬浮力LF;
  unstiff=悬浮架3.悬浮力LR;
  unstiff=悬浮架3.悬浮力RR;
  unstiff=悬浮架3.悬浮力PF;
  unstiff=悬浮架3.导向力LF;
  unstiff=悬浮架3.导向力LR;
  unstiff=悬浮架3.导向力RR;
  unstiff=悬浮架3.导向力RF;
  unstiff=悬浮架4.悬浮力LF;
  unstiff=悬浮架4.悬浮力LR;
  unstiff=悬浮架4.悬浮力RR;
  unstiff=悬浮架4.悬浮力PF;
  unstiff=悬浮架4.导向力LF;
  unstiff=悬浮架4.导向力LR;
  unstiff=悬浮架4.导向力RR;
  unstiff=悬浮架4.导向力RF;
  unstiff=悬浮架5.悬浮力LF;
  unstiff=悬浮架5.悬浮力LR;
  unstiff=悬浮架5.悬浮力RR;
  unstiff=悬浮架5.悬浮力PF;
  unstiff=悬浮架5.导向力LF;
  unstiff=悬浮架5.导向力LR;
  unstiff=悬浮架5.导向力RR;
  unstiff=悬浮架5.导向力RF;
  unstiff=悬浮架6.悬浮力LF;
  unstiff=悬浮架6.悬浮力LR;
  unstiff=悬浮架6.悬浮力RR;
  unstiff=悬浮架6.悬浮力PF;
  unstiff=悬浮架6.导向力LF;
  unstiff=悬浮架6.导向力LR;
  unstiff=悬浮架6.导向力RR;
  unstiff=悬浮架6.导向力RF;

with end;
